/* 
 * http://colourco.de/complement/5/%23622122
 * $color1: #143937; // Dark Blue
 * $color2: #45bea7; // Blue
 * */

/* Hacks
-----------------------------------------*/
 .clearfix:before, .clearfix:after {
    content:"";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    zoom: 1;
}
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
/* Basics
 * */
 body {
    margin:0;
    padding: 0;
    border-top: 5px solid #143937;
    background: white url('http://www.treerock.me/assets/stripe.png') repeat-x top left;
    padding-top: 20px;
    min-width: 320px;
}
footer {
    background-color: #143937;
    color: white;
}
.container {
    margin: 0 15px;
    max-width: 768px;
}
/* Header
 * */
 header h1, header p {
    font-family:'Vollkorn', sans-serif;
    font-style: normal;
    font-weight: 400;
    margin: 0;
    padding:0;
    text-align:center;
}
header h1 {
    font-size: 64px;
    border-bottom: 1px solid #1c4746;
}
header p {
    font-size: 36px;
    margin-top: -0.7em;
    text-transform: uppercase;
    color: #143937;
}
.sub span {
    background-color: white;
    padding: 0 5px;
}
/* Nav
 * */
 nav {
    background-color: #f5f5ff;
}
nav li {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f5f5ff), color-stop(1, #d8f2f3));
    background-image: -o-linear-gradient(bottom, #f5f5ff 0%, #d8f2f3 100%);
    background-image: -moz-linear-gradient(bottom, #f5f5ff 0%, #d8f2f3 100%);
    background-image: -webkit-linear-gradient(bottom, #f5f5ff 0%, #d8f2f3 100%);
    background-image: -ms-linear-gradient(bottom, #f5f5ff 0%, #d8f2f3 100%);
    background-image: linear-gradient(to bottom, #f5f5ff 0%, #d8f2f3 100%);
    height: 32px;
    line-height: 31px;
}
nav ul {
    list-style:none;
    margin: 0 -5px;
    padding: 0;
}
nav li {
    float: left;
    width: 33.333333%;
    border-left: 1px solid white;
}
nav li:first-child {
    border:0;
}
nav a {
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: small;
    text-decoration: none;
}
/* Full Width
-----------------------------------------*/
 @media (min-width: 768px) {
    /* Sandbox
     * */
    .container {
        margin: 0 auto;
        max-width: 800px;
        padding: 0 15px;
        margin: 0 auto;
    }
}
}