/* Layout and styles
 * Single column text document.
 * Code and canvas screen inline.
 * #2E4321
 * #748700

/* Layout and Common elements
* --------------------------*/
 html {
  box-sizing: border-box;
}

body {
  margin:0;
  padding: 0 5px;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.page-wrapper {
  max-width: 600px;
  min-width: 350px;
  margin: 0 auto;
}

pre {
  padding: 5px;
  overflow: auto;
	overflow-wrap: break-word;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
	background-color: #f5f5f5;
  width: auto;
  white-space: pre;
	
}
code {
  font-family: monospace;
  font-size: normal;
}

/* Header styles
 * --------------------------*/
header {
  position: relative;
  margin: 0 15px;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 9999;
}
header h1, header p {
  font-family:'Vollkorn', sans-serif;
  font-style: normal;
  font-weight: 400;
  margin: 0;
  padding:0;
}
header h1 {
  font-size: 36px;
  padding-bottom: 5px;
  border-bottom: 1px solid #1c4746;
}
header p.sub {
  font-size: 20px;
  margin-top: -0.6em;
  text-transform: uppercase;
  color: #143937;
  text-align:center;
}
.sub span {
  background-color: white;
  padding: 0 5px;
}
/* Canvas and form controls
 * ------------------------------*/
.canvas-wrapper {
  background-color: #2E4321;
  margin: 15px 0;
  padding: 5px;
  border: 10px solid white;
  -webkit-transition: border-color 2s;
  transition: border-color 2s;
	color: white;
}
.canvas-wrapper.show {
  border: 10px solid #748700;
}
canvas {
  margin: 0 auto;
  display: block;
}
.form-wrapper {
	min-height: 150px;
  margin: 15px 0;
  padding: 5px;
	border-top: 1px dashed #748700;
}
.form-wrapper label {
  display: inline-block;
  width: 150px;
  text-align: right;
}

.form-wrapper input{
	width: 150px;
	margin-top: 2px;
}
input.narrow{
	width: 100px;
	margin-right: 16px;
}
#tt-string {
  font-size: small;
  border:1px solid #ddd;
  padding: 2px;
  height: 3.5em;
  line-height: 1em;
  overflow: auto;
  width: 100%;
  overflow-wrap: break-word;
}

#ls-form .form-group {
}

.radio-p {
  margin:0;
  padding: 5px 0;
  line-height: 1.3em;
}
.radio-p input {
	width: auto;
}
.radio-p span {
  padding-left: 5px;
}