/* Basics
* --------------------------*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

#canvas .hide{
    display: none;
}
#canvas .show{
    display: block;
}

pre {
    padding: 5px 0;
    overflow: auto;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    width: auto;
    white-space: pre;
}
code {
    font-family: monospace;
    font-size: normal;
}


/* Common
* --------------------------*/
body{
    margin:0; padding: 0;
    border-top: 5px solid #143937;
    background: white url('http://www.treerock.me/assets/stripe.png') repeat-x top left;
    padding-top: 20px;
}
header {
    position: relative;
    margin: 0 15px;
    background-color: rgba(255,255,255,0.5);
    z-index: 9999;
}
header h1, header p {
    font-family: 'Vollkorn', sans-serif;
    font-style: normal;
    font-weight: 400;
    margin: 0; padding:0;
    /*text-align:center;*/
}
header h1 {
    font-size: 40px;
    padding-bottom: 5px;
    border-bottom: 1px solid #1c4746;
}
header p.sub {
    font-size: 32px;
    margin-top: -0.6em;
    text-transform: uppercase;
    color: #143937;
}
.sub span{
    background-color: white;
    padding: 0 5px;
}
#canvas{
    width: 500px;
    position: fixed;
    top: 130px; left: 0;
}
#canvas section {
    border: 1px solid #ddd;
    padding: 5px 15px;
}
#canvas h2{
    margin: 0; padding: 0;
    text-align: center;
    font-size: medium;
    font-weight: bold;
}
#canvas canvas {
    display: block;
    margin: 0 auto;
    border: 1px solid gray;
}
#content{
    max-width: 480px;
    padding:0 15px;
    margin-left: 500px;
}

@media (max-width: 576px) {
}

.buttons-wrapper {
	width: 60%;
	margin: 5px auto;
	text-align:center;
}

