.clearfix:before, .clearfix:after {
    content:" ";
    /* 1 */
    display: table;
    /* 2 */
}
.clearfix:after {
    clear: both;
}
/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
 .clearfix {
    *zoom: 1;
}
/* apply a natural box layout model to all elements, but allowing components to change */
 html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, html {
    height: 100%;
}
canvas {
    margin: 20px 0;
    padding:0;
    display: block;
    border: 1px solid #ddd;
}

.container {
	max-width: 700px;
	padding: 0 15px;
	margin: 0 auto;
}
.top, .bottom {
	height: 50vh;
	overflow: auto;
}
form p {
    margin: 0;
    padding: 2px 0;
}
form input {
    max-width: 60%;
}
label {
    font-size: small;
    margin-left: 5px;
}
button {
    font-size: small;
}

#ls-count {
    padding: 0 5px;
}
/* #ls-string {
    float: left;
    position: absolute;
    border: 1px solid #ddd;
    background-color: rgba(255, 255, 255, 0.5);
    max-width: 60%;
    max-height: 275px;
    overflow: auto;
} */

.view-button {
	text-align: center;
}
.view-button a {
    padding: 5px;
    margin: 10px auto;
    background-color: #428BCA;
    color: white;
	text-decoration: none;
    border-radius: 5px;
}



