{{> header}}
<div class='container-fluid'>
    <header class='page-header'>
        <h1>{{title}} <small>Example small text</small></h1>
    </header>
    <p>If this page looks okay then html templating and CSS should be working.</p>
    <p id='js-test'>But the babel/javascript thing doesn't seem to be working.</p>
    <script src='scripts/script.js'></script>

    <footer>
        <p>Created by {{name}}</p>
    </footer>
</div><!-- outer container -->
{{> footer}}
