<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='utf-8'>
    <meta content='IE=edge' http-equiv='X-UA-Compatible'>
    <meta content='width=device-width,initial-scale=1' name='viewport'>
    <meta content='' name='description'>
    <title>{{ title }}</title>
    <link href='css/style.css' rel='stylesheet'>
    <link href='css/tr-turtle.css' rel='stylesheet'>
    <link href='images/favicon.png' rel='icon'>
</head>

<body>

    {{> header}}

    <div class='tr-main container'>
        {{>about}}
    </div>

    {{> footer}}

    <script src="scripts/myturtle.js"></script>
    <script src="scripts/about-page.js"></script>

</body>

</html>
