<h1>Collatz</h1>
<p>Visualisation of the <a href="https://en.wikipedia.org/wiki/Collatz_conjecture">Collatz Conjecture</a>, inspired by <a href="https://www.reddit.com/r/dataisbeautiful/comments/8miru1/a_graph_of_the_collatz_conjecture_how_the_first/">this post</a>.</p>

<div class='row turtle-container'>
    <div class="col col-md-12">
        <canvas id='canvas' width='500' height='850'>
            <p>Canvas cannot be displayed.</p>
        </canvas>
    </div>
</div>