<footer class='navbar-fixed-bottom'>
    <div class='container'>
        <p>a treerock creation {{ lastUpdated }}</p>
        <!--<p> <q>It has yet to be proven that intelligence has any survival value.</q></p> -->
    </div>
</footer>
