<footer class='navbar-fixed-bottom'>
    <div class='container'>
        <p>a <a href='//treerock.me/'>treerock</a> build || <i>{{ lastUpdated }}</i></p>
        <!--<p> <q>It has yet to be proven that intelligence has any survival value.</q></p> -->
    </div>
</footer>
