<header>
    <nav>
        <ul>
            <li><a href='//treerock.me/'>home</a></li>
            <li><a href='//github.com/BruceHad/tr-turtle'>github</a></li>
            <li><a href='tr-turtle.html'>l-systems</a></li>
            <li><a href='tr-collatz.html'>collatz</a></li>
        </ul>
    </nav>
</header>
