<header>
    <div class='container'>
        <nav>
            <ul>
                <li><a href='//treerock.me/'>home</a></li>
                <li><a href='//github.com/BruceHad'>github</a></li>
            </ul>
        </nav>
        <h1>{{ title }}</h1>
        <p>{{ subtitle }}</p>
    </div>
</header>
