<h1>{{ title }}</h1>
<p>{{ subtitle }}</p>

<div class='row turtle-container'>
    <div class='col col-md-6'>
        <div class='canvas-container'>
            <canvas id='canvas' width='300' height='450'>
                <p>Canvas cannot be displayed.</p>
            </canvas>
            <div class='form-group buttons turtle-actions'>
                <button name='ls-clear'>Clear Drawing</button>
                <button name='ls-go'>Go Draw It</button>
                <br>
                <label for='ls-animate'>Animate Drawing:</label>
                <input type='checkbox' id='ls-animate' name='ls-animate' value='animate'>
            </div>
        </div>
    </div><!-- col 1 -->
    <div class='col col-md-6'>
        <div class='row'>
            <div class='col col-xs-6'>
                <div class='form-wrapper' id='ls-form'>
                    <h2>Presets</h2>
                    <p>Choose from some preset rules:</p>
                    <form id='form-rules'>
                        <!-- holder for LS Rules Radio Selector -->
                    </form>
                </div>
            </div>
            <div class='col col-xs-6'>
                <h2>L-System Values</h2>
                <p>Or play with your own rules:</p>
                <label for='ls-axiom'>Axiom:</label>
                <input type='text' id='ls-axiom' value=''>
                <br>
                <p>Rules:</p>
                <input type='text' id='ls-rule1' class='rule' value=''>
                <br>
                <input type='text' id='ls-rule2' class='rule' value=''>
                <br>
                <input type='text' id='ls-rule3' class='rule' value=''>
                <br>
                <input type='text' id='ls-rule4' class='rule' value=''>
                <br>
                <input type='text' id='ls-rule5' class='rule' value=''>
                <br>

                <label for='ls-distance'>Line Length:</label>
                <input type='text' id='ls-distance' name='ls-distance'>
                <br>
                <label for='ls-turn-angle'>Turn Angle:</label>
                <input type='text' id='ls-turn-angle' name='ls-turn-angle'>
                <br>
                <label for='ls-iterations'>Iterations:</label>
                <input type='text' id='ls-iterations' name='ls-iterations'>
                <br>
                <label for='ls-start-angle'>Start Angle:</label>
                <input type='text' id='ls-start-angle' name='ls-start-angle'>
                <input type='text' id='ls-x' name='position-x'>
                <input type='text' id='ls-y' name='position-y'>
            </div>
        </div>
    </div><!-- col 2 -->
</div><!-- main row -->
